html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.home {
    background-image: url('/background.png');
    /* Adjust the path if necessary */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* This ensures that the app is at least the height of the viewport */
}