.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100% !important;
    background-image: url('../../assets/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-content {

    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section.active {
    background-color: rgba(149, 148, 148, 0.708) !important;
}

.home-section {
    background-color: rgba(82, 82, 82, 0.112) !important;
}

.home-section p {
    color: #333;

    line-height: 1.6;
    text-align: left;
}

/* You might want to adjust the heading inside the home-section if it's also a title */
.home-section h3 {
    color: #022449;
    margin: 0;
    padding: 0 !important;
    font-size: 1em;
}


/* Adjustments for small screens */
@media (max-width: 768px) {
    .home-content {
        padding: 10px;
    }

    .home-section h3 {
        font-size: 1em;
        /* Adjust the size on small screens */
    }
}

.nav-titles {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px;
}

/* Each title should be clickable */
.nav-title {
    cursor: pointer;
    padding: 10px 20px;

}

.content-section {
    display: none;
}

/* When active, display it */
.content-section.active {
    display: block;

}

.title-container {
    width: 100% !important;
    cursor: pointer;
}

/* Each title should be clickable and have less margin */
.nav-title {

    cursor: pointer;
    padding: 10px 20px;
    margin: 0;
    /* You can also add more styles here if you want to adjust the hover effect, font size, etc. */
}