.admin-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
    background-color: rgba(16, 16, 55, 0.811);
}

.dashboard-sections {
    background-color: rgba(81, 81, 83, 0.811);
    padding: 5vh;
}

h1 {
    color: blueviolet;
}

.dashboard-sections div {
    margin: 10px;
    padding: 1vh;
}