.contact-form {
    width: 50vh;
    height: 80vh;
    margin: 2rem auto;
    padding: 2rem;
    background: #8f8f8f5a;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #494848;
}

.contact-form div {
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #9c9a9a;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #edecec9b;
    /* Prevents padding from affecting width */
    margin-bottom: 1rem;
}

.contact-form textarea {
    resize: vertical;
    /* Allows vertical resizing, typically a good UX decision */
    /* min-height: 150px; */
}

.contact-form button[type="submit"] {
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: background-color 0.3s;
}

.contact-form button[type="submit"]:hover,
.contact-form button[type="submit"]:focus {
    background-color: #013f7b;
}

/* If you want to add icons to your input fields */
.contact-form .input-icon {
    position: relative;
}

.contact-form .input-icon input {
    padding-left: 2.5rem;
}

.contact-form .input-icon i {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #aaa;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-form {
        padding: 1rem;
        margin: 1rem;
    }

    .contact-form button[type="submit"] {
        width: 100%;
    }
}

.response-message {
    margin-top: 20px;
    color: green;
    /* or red for error messages */
    font-weight: bold;
}